@mixin tablettemode{
    max-width: 750px;
    margin: auto;
}
@mixin desktopmode{
    max-width: 1100px;
    margin: auto;
}
@mixin font1 {
    font-family: 'Shrikhand', cursive;
}
@mixin font2 {
    font-family: 'Roboto', sans-serif;
}
@mixin homeRestaurantContainer {
    height: 130px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
@mixin homeRestaurantPicture{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
@mixin restaurantMenuContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
@mixin restaurantMenuPicture{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}