/*Taille caractères généraux*/
$titlefontsize: 1.7rem;
$paragraphfontsize : $titlefontsize * 0.6;
$navfontsize: $titlefontsize * 0.5;
/*Taille caractère pages restaurants*/
$paragraphfontsize_restaurants : $titlefontsize * 0.5;

$anim-speed:0.20s;